
// Align items

.dl-items-start {
  align-items: flex-start;
}

.dl-items-end {
  align-items: flex-end;
}

.dl-items-center {
  align-items: center;
}

.dl-items-baseline {
  align-items: baseline;
}

.dl-items-stretch {
  align-items: stretch;
}