.dl-self-auto {
  align-self: auto;
}

.dl-self-start {
  align-self: flex-start;
}

.dl-self-end {
  align-self: flex-end;
}

.dl-self-center {
  align-self: center;
}

.dl-self-stretch {
  align-self: stretch;
}

.dl-self-baseline {
  align-self: baseline;
}