.dl-bg-al-warning-dark {
  background-color: rgb(163, 76, 0)
}

.dl-bg-al-warning-dark\/100 {
  background-color: rgba(163, 76, 0, 1)
}

.dl-bg-al-warning-dark\/75 {
  background-color: rgba(163, 76, 0, 0.75)
}

.dl-bg-al-warning-dark\/50 {
  background-color: rgba(163, 76, 0, 0.5)
}

.dl-bg-al-warning-dark\/25 {
  background-color: rgba(163, 76, 0, 0.25)
}

.dl-bg-al-warning-dark\/0 {
  background-color: rgba(163, 76, 0, 0)
}