.dl-border-solid {
  border-style: solid;
}

.dl-border-dashed {
  border-style: dashed;
}

.dl-border-dotted {
  border-style: dotted;
}

.dl-border-double {
  border-style: double;
}

.dl-border-hidden {
  border-style: hidden;
}

.dl-border-none {
  border-style: none;
}