/* Display */

.dl-block {
  display: block;
}

.dl-inline-block {
  display: inline-block;
}

.dl-inline {
  display: inline;
}

.dl-flex {
  display: flex;
}

.dl-inline-flex {
  display: inline-flex;
}

.dl-table {
  display: table;
}

.dl-inline-table {
  display: inline-table;
}

.dl-table-caption {
  display: table-caption;
}

.dl-table-cell {
  display: table-cell;
}

.dl-table-column {
  display: table-column;
}

.dl-table-column-group {
  display: table-column-group;
}

.dl-table-footer-group {
  display: table-footer-group;
}

.dl-table-header-group {
  display: table-header-group;
}

.dl-table-row-group {
  display: table-row-group;
}

.dl-table-row {
  display: table-row;
}

.dl-flow-root {
  display: flow-root;
}

.dl-grid {
  display: grid;
}

.dl-inline-grid {
  display: inline-grid;
}

.dl-contents {
  display: contents;
}

.dl-list-item {
  display: list-item;
}

.dl-hidden {
  display: none;
}

@media (min-width: 640px) {

  .sm\:dl-block {
    display: block;
  }

  .sm\:dl-inline-block {
    display: inline-block;
  }

  .sm\:dl-inline {
    display: inline;
  }

  .sm\:dl-flex {
    display: flex;
  }

  .sm\:dl-inline-flex {
    display: inline-flex;
  }

  .sm\:dl-table {
    display: table;
  }

  .sm\:dl-inline-table {
    display: inline-table;
  }

  .sm\:dl-table-caption {
    display: table-caption;
  }

  .sm\:dl-table-cell {
    display: table-cell;
  }

  .sm\:dl-table-column {
    display: table-column;
  }

  .sm\:dl-table-column-group {
    display: table-column-group;
  }

  .sm\:dl-table-footer-group {
    display: table-footer-group;
  }

  .sm\:dl-table-header-group {
    display: table-header-group;
  }

  .sm\:dl-table-row-group {
    display: table-row-group;
  }

  .sm\:dl-table-row {
    display: table-row;
  }

  .sm\:dl-flow-root {
    display: flow-root;
  }

  .sm\:dl-grid {
    display: grid;
  }

  .sm\:dl-inline-grid {
    display: inline-grid;
  }

  .sm\:dl-contents {
    display: contents;
  }

  .sm\:dl-list-item {
    display: list-item;
  }

  .sm\:dl-hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .md\:dl-block {
    display: block;
  }

  .md\:dl-inline-block {
    display: inline-block;
  }

  .md\:dl-inline {
    display: inline;
  }

  .md\:dl-flex {
    display: flex;
  }

  .md\:dl-inline-flex {
    display: inline-flex;
  }

  .md\:dl-table {
    display: table;
  }

  .md\:dl-inline-table {
    display: inline-table;
  }

  .md\:dl-table-caption {
    display: table-caption;
  }

  .md\:dl-table-cell {
    display: table-cell;
  }

  .md\:dl-table-column {
    display: table-column;
  }

  .md\:dl-table-column-group {
    display: table-column-group;
  }

  .md\:dl-table-footer-group {
    display: table-footer-group;
  }

  .md\:dl-table-header-group {
    display: table-header-group;
  }

  .md\:dl-table-row-group {
    display: table-row-group;
  }

  .md\:dl-table-row {
    display: table-row;
  }

  .md\:dl-flow-root {
    display: flow-root;
  }

  .md\:dl-grid {
    display: grid;
  }

  .md\:dl-inline-grid {
    display: inline-grid;
  }

  .md\:dl-contents {
    display: contents;
  }

  .md\:dl-list-item {
    display: list-item;
  }

  .md\:dl-hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .lg\:dl-block {
    display: block;
  }

  .lg\:dl-inline-block {
    display: inline-block;
  }

  .lg\:dl-inline {
    display: inline;
  }

  .lg\:dl-flex {
    display: flex;
  }

  .lg\:dl-inline-flex {
    display: inline-flex;
  }

  .lg\:dl-table {
    display: table;
  }

  .lg\:dl-inline-table {
    display: inline-table;
  }

  .lg\:dl-table-caption {
    display: table-caption;
  }

  .lg\:dl-table-cell {
    display: table-cell;
  }

  .lg\:dl-table-column {
    display: table-column;
  }

  .lg\:dl-table-column-group {
    display: table-column-group;
  }

  .lg\:dl-table-footer-group {
    display: table-footer-group;
  }

  .lg\:dl-table-header-group {
    display: table-header-group;
  }

  .lg\:dl-table-row-group {
    display: table-row-group;
  }

  .lg\:dl-table-row {
    display: table-row;
  }

  .lg\:dl-flow-root {
    display: flow-root;
  }

  .lg\:dl-grid {
    display: grid;
  }

  .lg\:dl-inline-grid {
    display: inline-grid;
  }

  .lg\:dl-contents {
    display: contents;
  }

  .lg\:dl-list-item {
    display: list-item;
  }

  .lg\:dl-hidden {
    display: none;
  }
}

@media (min-width: 1280px) {
  .xl\:dl-block {
    display: block;
  }

  .xl\:dl-inline-block {
    display: inline-block;
  }

  .xl\:dl-inline {
    display: inline;
  }

  .xl\:dl-flex {
    display: flex;
  }

  .xl\:dl-inline-flex {
    display: inline-flex;
  }

  .xl\:dl-table {
    display: table;
  }

  .xl\:dl-inline-table {
    display: inline-table;
  }

  .xl\:dl-table-caption {
    display: table-caption;
  }

  .xl\:dl-table-cell {
    display: table-cell;
  }

  .xl\:dl-table-column {
    display: table-column;
  }

  .xl\:dl-table-column-group {
    display: table-column-group;
  }

  .xl\:dl-table-footer-group {
    display: table-footer-group;
  }

  .xl\:dl-table-header-group {
    display: table-header-group;
  }

  .xl\:dl-table-row-group {
    display: table-row-group;
  }

  .xl\:dl-table-row {
    display: table-row;
  }

  .xl\:dl-flow-root {
    display: flow-root;
  }

  .xl\:dl-grid {
    display: grid;
  }

  .xl\:dl-inline-grid {
    display: inline-grid;
  }

  .xl\:dl-contents {
    display: contents;
  }

  .xl\:dl-list-item {
    display: list-item;
  }

  .xl\:dl-hidden {
    display: none;
  }
}