/* Flex Direction */

.dl-flex-row {
    flex-direction: row;
}

.dl-flex-row-reverse {
    flex-direction: row-reverse;
}

.dl-flex-col {
    flex-direction: column;
}

.dl-flex-col-reverse {
    flex-direction: column-reverse;
}