/* Font Weight */

.dl-font-thin {
  font-weight: 100;
}

.dl-font-extralight {
  font-weight: 200;
}

.dl-font-light {
  font-weight: 300;
}

.dl-font-normal {
  font-weight: 400;
}

.dl-font-medium {
  font-weight: 500;
}

.dl-font-semibold {
  font-weight: 600;
}

.dl-font-bold {
  font-weight: 700;
}

.dl-font-extrabold {
  font-weight: 800;
}

.dl-font-black {
  font-weight: 900;
}