
.dl-justify-normal {
  justify-content: normal;
}

.dl-justify-start {
  justify-content: flex-start;
}

.dl-justify-end {
  justify-content: flex-end;
}

.dl-justify-center {
  justify-content: center;
}

.dl-justify-between {
  justify-content: space-between;
}

.dl-justify-around {
  justify-content: space-around;
}

.dl-justify-evenly {
  justify-content: space-evenly;
}

.dl-justify-stretch {
  justify-content: stretch;
}