/* Margin */

.dl-m-4 {
    margin: 1rem;
    /* 16px */
}

.dl-mt-4 {
    margin-top: 1rem;
    /* 16px */
}

.dl-mb-4 {
    margin-bottom: 1rem;
    /* 16px */
}

.dl-mr-4 {
    margin-right: 1rem;
    /* 16px */
}

.dl-ml-4 {
    margin-left: 1rem;
    /* 16px */
}

.dl-mx-4 {
    margin-left: 1rem;
    /* 16px */
    margin-right: 1rem;
    /* 16px */
}

.dl-my-4 {
    margin-top: 1rem;
    /* 16px */
    margin-bottom: 1rem;
    /* 16px */
}

.dl-m-6 {
    margin: 1.5rem;
    /* 24px */
}

.dl-mt-6 {
    margin-top: 1.5rem;
    /* 24px */
}

.dl-mb-6 {
    margin-bottom: 1.5rem;
    /* 24px */
}

.dl-mr-6 {
    margin-right: 1.5rem;
    /* 24px */
}

.dl-ml-6 {
    margin-left: 1.5rem;
    /* 24px */
}

.dl-mx-6 {
    margin-left: 1.5rem;
    /* 24px */
    margin-right: 1.5rem;
    /* 24px */
}

.dl-my-6 {
    margin-top: 1.5rem;
    /* 24px */
    margin-bottom: 1.5rem;
    /* 24px */
}