/* Padding */

.dl-p-1 {
  padding: 0.25rem; /* 4px */
}

.dl-px-1 {
  padding-left: 0.25rem; /* 4px */
  padding-right: 0.25rem; /* 4px */
}

.dl-py-1 {
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem; /* 4px */
}

.dl-pt-1 {
  padding-top: 0.25rem; /* 4px */
}

.dl-pb-1 {
  padding-bottom: 0.25rem; /* 4px */
}

.dl-pr-1 {
  padding-right: 0.25rem; /* 4px */
}

.dl-pl-1 {
  padding-left: 0.25rem; /* 4px */
}

.dl-p-2 {
  padding: 0.5rem; /* 8px */
}

.dl-pt-2 {
  padding-top: 0.5rem; /* 8px */
}

.dl-pb-2 {
  padding-bottom: 0.5rem; /* 8px */
}

.dl-pr-2 {
  padding-right: 0.5rem; /* 8px */
}

.dl-pl-2 {
  padding-left: 0.5rem; /* 8px */
}

.dl-px-2 {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
}

.dl-py-2 {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}

.dl-p-3 {
  padding: 0.75rem; /* 12px */
}

.dl-pt-3 {
  padding-top: 0.75rem; /* 12px */
}

.dl-pb-3 {
  padding-bottom: 0.75rem; /* 12px */
}

.dl-pr-3 {
  padding-right: 0.75rem; /* 12px */
}

.dl-pl-3 {
  padding-left: 0.75rem; /* 12px */
}

.dl-px-3 {
  padding-left: 0.75rem; /* 12px */
  padding-right: 0.75rem; /* 12px */
}

.dl-py-3 {
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem; /* 12px */
}

.dl-p-4 {
  padding: 1rem; /* 16px */
}

.dl-pt-4 {
  padding-top: 1rem; /* 16px */
}

.dl-pb-4 {
  padding-bottom: 1rem; /* 16px */
}

.dl-pr-4 {
  padding-right: 1rem; /* 16px */
}

.dl-pl-4 {
  padding-left: 1rem; /* 16px */
}

.dl-px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

.dl-py-4 {
  padding-top: 1rem; /* 16px */
  padding-bottom: 1rem; /* 16px */
}

.dl-p-6 {
  padding: 1.5rem; /* 24px */
}

.dl-pt-6 {
  padding-top: 1.5rem; /* 24px */
}

.dl-pb-6 {
  padding-bottom: 1.5rem; /* 24px */
}

.dl-pr-6 {
  padding-right: 1.5rem; /* 24px */
}

.dl-pl-6 {
  padding-left: 1.5rem; /* 24px */
}

.dl-px-6 {
  padding-left: 1.5rem; /* 24px */
  padding-right: 1.5rem; /* 24px */
}

.dl-py-6 {
  padding-top: 1.5rem; /* 24px */
  padding-bottom: 1.5rem; /* 24px */
}

.dl-p-8 {
  padding: 2rem; /* 32px */
}

.dl-pt-8 {
  padding-top: 2rem; /* 32px */
}

.dl-pb-8 {
  padding-bottom: 2rem; /* 32px */
}

.dl-pr-8 {
  padding-right: 2rem; /* 32px */
}

.dl-pl-8 {
  padding-left: 2rem; /* 32px */
}

.dl-px-8 {
  padding-left: 2rem; /* 32px */
  padding-right: 2rem; /* 32px */
}

.dl-py-8 {
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}