/* Text Align */

.dl-text-left {
  text-align: left;
}

.dl-text-center {
  text-align: center;
}

.dl-text-right {
  text-align: right;
}

.dl-text-justify {
  text-align: justify;
}

.dl-text-start {
  text-align: start;
}

.dl-text-end {
  text-align: end;
}