.dl-text-al-warning-dark {
  color: rgb(163, 76, 0)
}

.dl-text-al-warning-dark\/100 {
  color: rgba(163, 76, 0, 1)
}

.dl-text-al-warning-dark\/75 {
  color: rgba(163, 76, 0, 0.75)
}

.dl-text-al-warning-dark\/50 {
  color: rgba(163, 76, 0, 0.50)
}

.dl-text-al-warning-dark\/25 {
  color: rgba(163, 76, 0, 0.25)
}

.dl-text-al-warning-dark\/0 {
  color: rgba(163, 76, 0, 0)
}