.dl-text-al-primary-medium,
.dl-text-al-primary-medium\/100 {
  color: rgba(230, 32, 32, 1)
}

.dl-text-al-primary-medium\/75 {
  color: rgba(230, 32, 32, 0.75)
}

.dl-text-al-primary-medium\/50 {
  color: rgba(230, 32, 32, 0.50)
}

.dl-text-al-primary-medium\/25 {
  color: rgba(230, 32, 32, 0.25)
}

.dl-text-al-primary-medium\/0 {
  color: rgba(230, 32, 32, 0)
}

.dl-text-al-warning-dark,
.dl-text-al-warning-dark\/100 {
  color: rgb(163, 76, 0)
}

.dl-text-al-warning-dark\/75 {
  color: rgba(163, 76, 0, 0.75)
}

.dl-text-al-warning-dark\/50 {
  color: rgba(163, 76, 0, 0.50)
}

.dl-text-al-warning-dark\/25 {
  color: rgba(163, 76, 0, 0.25)
}

.dl-text-al-warning-dark\/0 {
  color: rgba(163, 76, 0, 0)
}



//Neutral

.dl-text-al-neutral-dark,
.dl-text-al-neutral-dark\/100 {
  color: rgb(108, 108, 108)
}

.dl-text-al-neutral-dark\/75 {
  color: rgba(108, 108, 108, 0.75)
}

.dl-text-al-neutral-dark\/50 {
  color: rgba(108, 108, 108, 0.50)
}

.dl-text-al-neutral-dark\/25 {
  color: rgba(108, 108, 108, 0.25)
}

.dl-text-al-neutral-dark\/0 {
  color: rgba(108, 108, 108, 0)
}


.dl-text-neutral-lightest,
.dl-text-neutral-lightest\/100 {
  color: rgb(252, 252, 252)
}

.dl-text-neutral-lightest\/75 {
  color: rgba(252, 252, 252, 0.75)
}

.dl-text-neutral-lightest\/50 {
  color: rgba(252, 252, 252, 0.50)
}

.dl-text-neutral-lightest\/25 {
  color: rgba(252, 252, 252, 0.25)
}

.dl-text-neutral-lightest\/0 {
  color: rgba(252, 252, 252, 0)
}